<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    {% load static %}
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex"> 
            <br>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    {% url 'LibreBadge:index' as url %}
                    <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    {% url 'LibreBadge:production' slug="" as url %}
                    <a href="#" class="nav-link {% if request.path == url %}active{% endif %}">
                        <i class="nav-icon far fa-id-card"></i>
                        <p>
                            Templates
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        {% for BadgeTemplate in BadgeTemplate %}
                        {% url 'LibreBadge:production' slug=BadgeTemplate.slug as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %} ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{BadgeTemplate.name|truncatechars:20}}</p>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inactive Page</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>