<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{searchTab}}" href="{% url 'LibreBadge:production' slug=BadgeTemplate.slug %}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active {{createTab}}" href="{% url 'LibreBadge:productionCreate' slug=BadgeTemplate.slug %}">Create</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active {{adminTab}}" href="LibreBadge/badgetemplate/{{badgeTemplate.pk}}/change/">Edit Template</a>
    </li>
  </ul>