{% extends "energized-id-django/header.html" %}
{% block head %}
{% load static %}
<link href="{% static 'energized-id-django/cardResources/cookietemplateResources/styles.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans" type = "stylesheet">
{% endblock %}

{% block content %}



        
        <div class="page" id="one">
            <div id="header">COOKIES INC</div>
            <img src="{% static 'energized-id-django/cardResources/cookietemplateResources/photo.jpg' %}" id="photo" />
            <img src="{% static 'energized-id-django/cardResources/cookietemplateResources/logo.png' %}" id="logo" />
            <img src="{% static 'energized-id-django/cardResources/cookietemplateResources/qr.png' %}" id="qr" />
            <div id="title">Chief Cookie Eater</div>
            <div id="name">Name</div>
            <div id="id">Employee ID#: ID </div>
            <div id="security-level">Security Level </div>
            <div id="expires">Expires: 08/2019</div>
        </div>
        <div class="page" id="two">
            <img src="{% static 'energized-id-django/cardResources/cookietemplateResources/logo.png' %}" id="logo2" />
            <div id="addrz">
                <div>Cookies Inc</div>
                <div>123 Seasame Street</div>
                <div>Houston, Texas</div>
                <div>(999) 999-9999</div>
                <div>github.com/energized-id</div>
                <div>more text</div>

            </div>
            <img src="https://barcode.tec-it.com/barcode.ashx?data=1948293&code=Code39&multiplebarcodes=false&translate-esc=false&unit=Fit&dpi=96&imagetype=Png&rotation=0&color=%23000000&bgcolor=%23ffffff&qunit=Mm&quiet=0" id="barcode" />
        </div>
{% endblock %}