{% extends 'LibreBadge/applicationadmin/applicationadminbase.html' %}
{% block applicationadmincontent %}
<div class="col-6">
    <form action="" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{title}}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form role="form">
                {% for field, fieldType, fieldChoices, value in results %}
                    {% if fieldType == "CharField" and fieldChoices == None  %}
                        <div class="form-group">
                            <label>{{field|title}}</label>
                            <input type="text" id="{{field}}" name="{{field}}" value="{{value}}" class="form-control" placeholder="{{value}}">
                        </div>
                    {% endif %}
                    {% if fieldType == "CharField" and fieldChoices != None  %}
                    <div class="form-group">
                        <label>{{field|title}}</label>
                        <select id="{{field}}" name="{{field}}" class="form-control">
                            {% for fieldChoice in fieldChoices %}
                            <option {% if fieldChoice.0 == value  %}selected="selected"{% endif %} value="{{fieldChoice.0}}" >{{fieldChoice.1|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% if fieldType == "TextField" %}
                    <div class="form-group">
                        <label>{{field|title}}</label>
                        <textarea id="{{field}}" name="{{field}}" class="form-control" rows="3" placeholder="{{value}}">{{value}}</textarea>
                    </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-warning">Cancel</button>
            <button class="btn btn-danger float-right">Delete</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}