{% extends 'LibreBadge/applicationadmin/applicationadminbase.html' %}
{% block applicationadmincontent %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{title}}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for field in fields %}
                    <th{% if forloop.first %} style="width: 70px;"{% endif %}>{{field|title}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    {% for key, value in result.items %}
                    <td>{{value}} {{fieldTypes.forloop.counter0}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>
{% endblock %}