{% extends "LibreBadge/base.html" %}
{% load i18n static %}
{% block maincontent %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Administration</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">{% block breadcrumbs %}{% if title %}{{ title }}{% endif %}{%endblock%}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
                {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% endif %}
<!-- Content -->
<div id="content" class="">
    {% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
</div>
{% endblock %}