{% extends "LibreBadge/page.html" %}
{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded-top">  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <span class="navbar-brand mb-0 h1">Select a template</span>
              <ul class="navbar-nav mr-auto">
              </ul>
            <form class="form-inline my-2 my-lg-1">
              <input class="form-control mr--2" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        </nav>
      <div class="list-group" style="overflow: auto;">
          {% for BadgeTemplate in BadgeTemplate %}
          <a href="production/search/{{BadgeTemplate.slug}}" class="list-group-item list-group-item-action">
          {{BadgeTemplate.name}}
          </a>
          {% endfor %}
     </div>
    </div>
  </div>
</div>
{% endblock %}