<!DOCTYPE html>
<html lang="en">

<head>
	<title>LibreBadge</title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'LibreBadge/css/bootstrap.min.css' %}" type = "text/css"/>    
</head>

<body onbeforeprint="printRendering()" onafterprint="afterPrintRendering()">
    {% include "LibreBadge/components/navbar.html" %}
    {% include "LibreBadge/components/alert.html" %}
    {% include "LibreBadge/components/messages.html" %}
      {% block content %}
      {% endblock %}

</body>
<script src="{% static 'LibreBadge/js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'LibreBadge/js/bootstrap.bundle.min.js' %}"></script>
<script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
    function printRendering(){
      alert("You are about to print this document!");
      $(' *').not('.printme *,body,html,visibility:hidden').addClass('hiddenByPrint');
      $('.hiddenByPrint').hide();
      }; 
    function afterPrintRendering(){
      alert("You just printed this document!");
      $('.hiddenByPrint').show();
    };     
    </script>
</html>
