{% extends "LibreBadge/productionbaseNEW.html" %}
{% block interface %}
<form id="editForm">
  <table id="resultsTable" class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col"># <input type="checkbox"></th>
        {% for BadgeTemplateFormConfig in BadgeTemplateConfigFile.FormFields%}
        <th scope="col">{{ BadgeTemplateFormConfig.DisplayName}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr v-for="cardholder, index in cardholders" :class="{editing: cardholder == editedcardholder}" v-cloak>
        <th scope="row">#[[index + 1]]# <input type="checkbox"></th>
        {% for BadgeTemplateFormConfig in BadgeTemplateConfigFile.FormFields%}
        <td @click="selectcardholder(cardholder)" @dblclick="editData(cardholder)" class="view">
          #[[cardholder.{{BadgeTemplateFormConfig.id}}]]#</td>
        {% endfor %}
            {% for BadgeTemplateFormConfig in BadgeTemplateConfigFile.FormFields%}
            <td v-if="cardholder == editedcardholder" v-cloak class="edit">
              <input type="text" name="{{BadgeTemplateFormConfig.id}}" class="form-control form-control-sm"
                v-model="cardholder.{{BadgeTemplateFormConfig.id}}" />
              {% if forloop.last %}
              <button class="btn btn-sm btn-primary" @click="saveData(cardholder)">save</button>
              <button class="btn btn-sm btn-danger" @click="cancelEditData(cardholder)">cancel</button>
              {% endif %}
            </td>
            {% endfor %}
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}