{% extends "LibreBadge/page.html" %}
{% load include_anything %}
{% block content %}
{% for BadgeTemplate in BadgeTemplate %}
{% ifequal BadgeTemplate.slug slug %}
<br>
<div id="badgeTemplateTempWrapper" class="printme"></div>
<div class="row justify-content-center">
    <div class="col-4 border" style="height: 500px;resize: vertical;overflow: auto;">
        <ul class="nav nav-tabs">
            <a class="navbar-brand">{{BadgeTemplate.name}}</a>
            <li class="nav-item">
              <a class="nav-link {% block searchTabActive %}{% endblock %}" href="{% url 'LibreBadge:productionSearch' slug=BadgeTemplate.slug %}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block createTabActive %}{% endblock %}" href="{% url 'LibreBadge:productionCreate' slug=BadgeTemplate.slug %}">Create</a>
            </li>
          </ul>
        <form method="POST">
            {% include "LibreBadge/components/searchFormGenerator.html" %}
            {% block formButtons%}
            {% endblock %}
            <button type="button" class="btn btn-danger" onclick="window.location.href = window.location.href;">Clear</button>
          </form>
    </div>
    <div class="col-4">
    </div>
    <div id="badgeTemplateWrapper" class="border" style="width: fit-content;height:fit-content;">
        <div id="badgeTemplate" class="printme" style="width: fit-content;height:fit-content;background-color: white!important;">
            {% include_anything BadgeTemplate.template.path|safe %}
        </div>
    </div>
    <div class="col-2"></div>
</div>
<br>
{% block bottom %}
<!-- Modal -->
{% endblock %}
{% block modal %}
{% endblock %}
{% else %}
Template not found
{% endifequal %}
{% endfor %}
{% endblock %}